<div class="container">
    <div class="wrapper">
        <h1>Seller Account Policies:</h1>
        <p>Help / Policies, agreements, and guidelines / Programme Policies / Selling on ESHPOES Fee Schedule / Selling
            Policies and Seller Code of Conduct Selling Policies and Seller Code of Conduct..</p>
        <p>
            All sellers are expected to adhere to the following policies when listing products on Amazon. Seller
            offences
            and prohibited content can result in suspension of your ESHPOES account.
            Seller code of conduct
            This policy requires that sellers act fairly and honestly on ESHPOES to ensure a safe buying and selling
            experience. All sellers must:</p>
        <ul>
            <p>
                 Provide accurate information to ESHPOES and our customers at all times
            </p>
            <p>
                 Act fairly and not misuse Amazon’s features or services
            </p>
            <p>
                 Not attempt to damage or abuse another Seller, their listings or ratings
            </p>
            <p>
                 Not attempt to influence customers’ ratings, feedback, and reviews
            </p>
            <p>
                 Not send unsolicited or inappropriate communications
            </p>
            <p>
                 Not contact customers except through Buyer-Seller Messaging
            </p>
            <p>
                 Not attempt to circumvent the ESHPOES sales process
            </p>
            <p>
                 Not operate more than one selling account on ESHPOES without a legitimate business need
            </p>
        </ul>
        <span>


            Violating the Code of Conduct or any other ESHPOES policies may result in actions against your account, such
            as
            cancellation of listings, suspension or forfeiture of payments, and removal of selling privileges. More
            details
            about these policies are below.</span>
        <p>
            Accurate Information
            You must provide accurate information to ESHPOES and our customers, and update the information if it
            changes.
            For example, this means that you must use a business name that accurately identifies your business and list
            your
            products in the correct category.
        </p>
        <p>
            Acting Fairly
            You must act fairly and lawfully and may not misuse any service provided by Amazon. Examples of unfair
            activities include:
        </p>

        <ul>
            <p>
                 Providing misleading or inappropriate information to ESHPOES or our customers, such as by creating
                multiple detail pages for the same product or posting offensive product images
            </p>
            <p>
                 Manipulating sales rank (such as by accepting fake orders or orders that you have paid for) or making
                claims about sales rank in product titles or descriptions
            </p>
            <p>
                 Attempting to increase the price of a product after an order is confirmed
            </p>
            <p>
                 Artificially inflating web traffic (using bots or paying for clicks, for example)
            </p>
            <p>
                 Attempting to damage another Seller, their listings or ratings
            </p>
            <p>
                 Allowing other people to act on your behalf in a way that violates Amazon’s policies or your agreement
                with Amazon
                Ratings, Feedback, and Reviews
                You may not attempt to influence or inflate customers’ ratings, feedback, and reviews. You may request
                feedback and reviews from your own customers in a neutral manner, but may not:
            </p>
            <p>
                 Pay for or offer an incentive (such as coupons or free products) in exchange for providing or removing
                feedback or reviews
            </p>
            <p>
                 Ask customers to write only positive reviews or ask them to remove or change a review..
            </p>
            <p>
                 Solicit reviews only from customers who had a positive experience.
            </p>
            <p>
                 Review your own products or a competitors’ products
                Communications
            </p>
        </ul>
        <p>
            You may not send unsolicited or inappropriate messages. All communications to customers must be sent
            through Buyer-Seller Messaging and be necessary for fulfilling the order or providing customer services.
            Marketing communications are prohibited.
            Customer Information
            If you receive customer information such as addresses or phone numbers to fulfill orders, you may use that
            information only to fulfill orders and must delete it after the order has been processed. You may not use
            customer information to contact customers (except through Buyer-Seller Messaging) or share it with any
            thirdparty.
            Circumventing the Sales Process
            You may not attempt to circumvent the ESHPOES sales process or divert ESHPOES customers to another website.
            This means that you may not provide links or messages that prompt users to visit any external website or
            complete a transaction elsewhere.
            Multiple Selling Accounts on Amazon
            You may only maintain one Seller Central account for each region in which you sell unless you have a
            legitimate business need to open a second account and all of your accounts are in good standing. If any of
            your
            accounts are not in good standing, we may deactivate all of your selling accounts until all accounts are in
            good
            standing.
        </p>
        <p>
            Examples of a legitimate business justification include:
        </p>
        <ul>
            <p>
                 You own multiple brands and maintain separate businesses for each..
            </p>
            <p>
                 You manufacture products for two distinct and separate companies
            </p>
            <p>
                 You are recruited for an ESHPOES program that requires separate accounts
            </p>
        </ul>
        <p>
            Filing Infringement Notices as an Agent or Brand Protection Agency
            ESHPOES understands that many brands may choose to have brand protection agencies or agents report
            intellectual property infringement on their behalf and accepts submissions from authorized agents. However,
            ESHPOES does not permit individuals with active selling accounts to file infringement notices as an agent of
            a
            brand when the filing of those notices could benefit their own selling account (through removing competing
            listings, for example). Any sellers filing notices as an agent to benefit their own status as a seller may
            have
            their
            selling account terminated.
            Selling Policies and Seller Code of Conduct
        </p>
        <ul>
            <p>
                 Category, product, and content restrictions
            </p>
            <p>
                 Keeping Your Account Information Secure.
            </p>
            <p>
                 Identifying false (spoofed) e-mails..
            </p>
            <p>
                 Supported browsers and operating systems..
            </p>
        </ul>
    </div>
</div>