<div class="container">
    <div class="row">
        <div class="seller-profile">
            <div class="seller-profile-img">
                <img src="../../../../assets/images/countryIcons/User-Profile.jpg" alt="">
            </div>
            <div class="col-4 seller-details">
                <!-- <div class="seller-logo"> -->
                <img src="../../../../assets/images/countryIcons/User-Profile.jpg" class="w-img">
                <!-- </div> -->
                <br>
                <div class="seller-reteing">
                    <div class="store-name">Example Offical</div>
                    <span>449 Followers</span>
                    <p>79% Positive Seller Ratings</p>
                </div>
                <div class="matgin-plus">
                    <i class="fa fa-thin fa-user-plus follow-icon"></i>
                    <p>FOLLOW</p>
                </div>
                <div>
                    <i class="fa fa-thin fa-message chat-icon"></i>
                    <p>Chat Now</p>
                </div>
            </div>
            <div class="row">
                <div class="more-deteils">
                    <p routerLink="/seller">Store</p>
                    <p routerLink="/products" (click)="addcolor()">Products</p>
                    <p routerLink="/user-profile">Profile</p>
                    <div class="more-deteils-search">
                        <input type="search" placeholder="Search" class="form-control seller-search">
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>