<app-user-profile-image></app-user-profile-image>
<hr>
<div class="container user-in">
    <div class="row">
        <div class="col-4">
           <p>Time Of Lazada</p>
           <p class="Year">4 Year +</p>
        </div>
        <div class="col-4">
            <p>Shipped on Time</p>
            <p class="onTime">100%</p>
        </div>
        <div class="col-4">
            <p>Chat</p>
            <p>Chat Response Rate</p>
            <span>No data</span>
            <br>
            <span>Chat Response Time</span>
            <p>Active in: hours</p>
        </div>
    </div>
</div>