<!-- <app-navbar></app-navbar> -->
<div class="container ">
    <a  [routerLink]="['/store']"
    [queryParams]="{ category: 'headphone'}"><img src="../../../../assets/images/countryIcons/SetImageIcon.jpg" class="setImage ">

    <div  class="image-text">Grap Upto 30% Off <br>On Select HeadPhone..</div>
    <input type="button" value="BuyNow" class="btn "></a>
    <a [routerLink]="['/store']" [queryParams]="{category: 'PowerBank'}"><img src="../../../../assets/images/countryIcons/powerbank_tile.webp" alt="powerBank-img" class="powerBank-img "></a>
</div>