.setImage{
    width: 100%;
    cursor: pointer;
    border-radius:25px ;
}
.image-text{
    color: rgba(255, 255, 255, 0.73);
    font-size: 25px;
    cursor: pointer;
    
}
.container{
    position: relative;
}
.image-text{
    position: absolute;
    top: 138px;
    right: 118px;
}
.btn{
    background-color: #134515;
    color: white;
    border-radius: 25px;
    position: absolute;
    top: 219px;
    right: 192px;
}
.Heading-text{
    margin-top: 20px;
}
.autoShow{
    animation: autoShowAnimation both;
    animation-timeline: view(70% 30%);
}
.powerBank-img{
    width: 50%;
    margin-top: 25px;
    cursor: pointer;
}
@keyframes autoShowAnimation{
    from{
        opacity: 0;
        transform: translateY(200px) scale(0.3);
    }to{
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

