<app-user-profile-image></app-user-profile-image>

<div class="container">
    <div class="row">

        <div data-aos-duration="1000" data-aos="flip-left" class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="../../../../assets/images/countryIcons/pngimg.com - headphones_PNG7659.png"
                        class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <p class="card-text">Wireless Headphones Gaming Earphone Bluetooth 5.3 Sport..</p>
                        <p class="card-text Rupees"><span>Rs:2000</span>
                            <input type="button" value="BayNow">
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div data-aos-duration="1150" data-aos="flip-left" class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="../../../../assets/images/countryIcons/pngimg.com - headphones_PNG7659.png"
                        class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <p class="card-text">Wireless Headphones Gaming Earphone Bluetooth 5.3 Sport..</p>
                        <p class="card-text Rupees"><span>Rs:2000</span>
                            <input type="button" value="BayNow">
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div data-aos-duration="1550" data-aos="flip-left" class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="../../../../assets/images/countryIcons/pngimg.com - headphones_PNG7659.png"
                        class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <p class="card-text">Wireless Headphones Gaming Earphone Bluetooth 5.3 Sport..</p>
                        <p class="card-text Rupees"><span>Rs:2000</span>
                            <input type="button" value="BayNow">
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div data-aos-duration="2000" data-aos="flip-right" class="card mb-3 " style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="../../../../assets/images/countryIcons/pngimg.com - headphones_PNG7659.png"
                        class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <p class="card-text">Wireless Headphones Gaming Earphone Bluetooth 5.3 Sport..</p>
                        <p class="card-text Rupees"><span>Rs:2000</span>
                            <input type="button" value="BayNow">
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div data-aos-duration="2500" data-aos="flip-right" class="card mb-3 " style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="../../../../assets/images/countryIcons/pngimg.com - headphones_PNG7659.png"
                        class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <p class="card-text">Wireless Headphones Gaming Earphone Bluetooth 5.3 Sport..</p>
                        <p class="card-text Rupees"><span>Rs:2000</span>
                            <input type="button" value="BayNow">
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div data-aos-duration="3000" data-aos="flip-right" class="card mb-3 " style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="../../../../assets/images/countryIcons/pngimg.com - headphones_PNG7659.png"
                        class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <p class="card-text">Wireless Headphones Gaming Earphone Bluetooth 5.3 Sport..</p>
                        <p class="card-text Rupees"><span>Rs:2000</span>
                            <input type="button" value="BayNow">
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

