<div class="container container-buttons">
    <input class="btn-icon" type="button" value="HeadPhone Types">
    <input class="btn-icon" type="button" value="Price">
    <input class="btn-icon" type="button" value="Review">
    <input class="btn-icon" type="button" value="Colors">
    <input class="btn-icon" type="button" value="Material">
    <input class="btn-icon" type="button" value="Offer">
    <input class="btn-icon" type="button" value="All Filters      ">
    <i class="fa fa-thin fa-sliders filter-icon"></i>
</div>
